
/*colors
dark-green: rgb(18, 48, 14);
gray: rgb(92, 97, 91)
yellow: rgb(243,186,36)
orange: rgb(243,129,62)
lightergreen:  rgb(79, 134, 70)
dark-grey: #333333; 
red: rgb(151, 44, 49);
blue-green: rgb(33, 109, 153)
=

*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #333333;
    color: #eee;
    
}
/* -----NAVIGATION-----*/
nav {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(18, 48, 14);
    font-size: 1.7rem;
    font-weight: 300;
    border-bottom: 2px solid rgb(79, 134, 70);
    padding: 0.75rem;

}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-links > li {
    flex: 1;
}

.nav-links:first-child {
    margin-left: 11%;
}

.nav-links a {
    text-decoration: none;
    text-decoration: none;
    color: rgb(243,186,36);
    letter-spacing: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    text-align: center;
}

.nav-item:hover a {
    color: #eee;
    transition: 0.3s;
}

/* -----HEADING-----*/


.hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.175)), url(../img/officialgfdbalbumphoto.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-section h1, h5 {
    letter-spacing: 0.5rem;       
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.5%;
    text-transform: uppercase;
}

.hero-section h5 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10%;
}


/* -----BUTTON----*/

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 10rem;
    position: relative;
    font-size: 1.5rem;
    background-color: rgb(151, 44, 49);
    opacity: .9;
    color: #eee;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2rem 2rem rgba(#000,.2s);
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
}

/* -----MAIN SECTION-----*/


.about, .members, .shows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 3.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(26, 25, 29);
}


.about__header--band {
    border-bottom: 2px solid rgb(151, 44, 49);
    padding-bottom: 1.5rem;

}


.about__header--description {
    font-size: 2rem;
    margin: 2rem 8rem;
}

.about__header--description p {
    padding: 0.5rem;
}



/* -----SHOWS-----*/

.shows-header {
    border-bottom: 1px solid rgb(243,186,36);
    padding-bottom: 1.5rem;

}

.shows-header-container {
    margin: auto;
}

.shows {
    background-color: rgb(18, 48, 14);
}

.shows-list {
    margin: 1.5rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.event {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    margin: 3rem;
    border-radius: 65px;
    padding: 2rem;
    position: relative;
    border-left: .75px solid rgb(243,186,36);
    border-right: .75px solid rgb(243,186,36);
    border-radius: 20px;
}

.event:hover {
    color: rgb(243,186,36);
    transition: 0.3s;
}

.empty-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1; 
}

.venue-link, .venue-link:visited, .empty-link {
    text-decoration: none;
}

.shows-list span {
    display: block;
    font-size: 1.5rem;
}

.show-date, 
.show-venue {
    padding: 2rem;
}




/* -----MEMBERS-----*/

.members {
    background-color: rgb(18, 48, 14);
}

.bio-pic {
    display: flex;
    align-items: flex-start;
    
}

.bio-pic img {
    min-width: 0;
    width: 100%;
}

.members-img {
    display: flex;
    align-items: flex-start;
}

.members-img img {
    min-width: 0;
    width: 100%;
}


.members-header-contain {
    margin: auto;
}

.about__header--members {
    border-bottom: 2px solid rgb(243,186,36);
    padding-bottom: 1.5rem;
}
.lineup {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem;
    
}

.lineup .name {
    font-size: 1.8rem;
    font-weight: 400;
}

.lineup .instrument {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
} 

.member {
    padding: 1rem;
    
}

/* -----VIDEO-----*/

.video {
    margin: 0 1rem;
}

.video-header {
    display: flex;
    justify-content: center;
}

.music {
    border-bottom: 2px solid rgb(151, 44, 49);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

video {
    width: 100%;
    height: auto
}
.iframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    
}
.bandcamp {
    width: 700px;
    height: 241px;
    margin-bottom: 3rem;

}


/* -----CONTACT-----*/

.contact {
    background-color: rgb(18, 48, 14);
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.col {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    align-items: center;
    
}

.gorilla {
    width: 22.5rem;
    height: 22.5rem;
    margin: 0 auto;
    border-radius: 200px;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}

.form-messages {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.form-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
}


.form-list li:first-child {

    text-transform: uppercase;
    border-bottom: 2px solid rgb(243,186,36);
    padding-bottom: 1rem;
    letter-spacing: 0.5rem;

}

.form-list li:nth-child(2) {
    font-style: italic;
    font-size: 1.3rem;
}

.form-list > li:not(:last-child) {
    margin-bottom: 20px;
}

.form-list li label {
    padding: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.form-list > li > label {
    flex: 1 0 220px;
    max-width: 220px;
}

.form-list li input, .form-list li textarea {
    padding: 1.5rem;
    border: none;
    border-radius: 2px;
    
}
.form-list li button {
    padding: 1rem 2rem;
    border: none;
    background-color: rgb(151, 44, 49);
    color: #eee;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.btn-submit:hover {
    transform: translateY(3px);
    box-shadow: 0 2rem 2rem rgba(#000,.2s);
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
}

.contact-info {
    padding-left: 1.5rem;
}

.contact-info:last-child {
    margin-bottom: 2rem;
}



/* -----GALLERY-----*/


.gallery-header {
   /* margin: auto; */
   display: flex;
   justify-content: center;
}
.photos {
    border-bottom: 2px solid rgb(151, 44, 49);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}

.images img {
    padding: 1rem;
    
    /* max-height: 250px; */
}

.images img:hover {
    /* filter: grayscale(100%); */
    transform: scale(1.090);
    transition: .4s;
}



/* -----FOOTER-----*/

footer {
    background-color: rgb(18, 48, 14);
    padding: 0.75rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    border-top: 2px solid rgb(79, 134, 70);
    
}

.social-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

ion-icon:hover {
    color: #fff;
    transition: 0.3s;
}

i {
    color: rgb(243,186,36);
    font-size: 175%;
}

/* -----MEDIA QUERIES-----*/

@media screen and (min-width: 800px) {

    .about__header--description {
        margin: 2rem 10rem;
    }
}
@media screen and (min-width: 1200px) {
    
    .event {
        font-size: 3rem;
    }
    .shows-list span {
        font-size: 2.5rem;
    }
    .about__header--description {
        margin: 2rem 20rem;
    }

}

@media screen and (max-width: 600px) {
    
    .hero-section h1 {
        font-size: 2rem;
    }
    .hero-section h5 {
        font-size: 1.5rem;
    }

    .about__header--description {
        font-size: 1.6rem;
        margin: 1rem 3rem;
    }

    .btn:link,
    .btn:visited {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }


    .nav-links > li {
        flex-basis: 50%;
    }

    nav {
        font-size: 1.25rem;
    }

    .shows-list {
        margin: 0;
    }
    .show-date, 
    .show-venue {
        font-size: 1.75rem;
    }
    .shows-list span {
        font-size: 1.25rem;
    }
    h2, h3 {
        font-size: 2rem;

    }

    .lineup {
        flex-basis: 50%;
    }

    .lineup .name {
        font-size: 1.3rem;
    }
    
    .lineup .instrument {
        font-size: 1.25rem;
    }

    .form-messages {
        padding: 1.5rem;
    }
    .form-list li label {
        letter-spacing: 0.25rem;
        font-size: 1.5rem;
    }

    .gorilla {
        width: 15rem;
        height: 15rem;
    }

    .contact-info {
        font-size: 1.25rem;
    }
    
}


@media screen and (max-height: 400px) {
    .hero-section h1 {
        font-size: 1.6rem;
    }
    .hero-section h5 {
        font-size: 1.4rem;
    }
    .btn:link,
    .btn:visited {
        font-size: 1.1rem;
        padding: 1rem 1.8rem;
    }

    .hero-section {
        height: 100vh;
    }
}